*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  /* background-color: #cfe8f0; */
}

@media screen and (max-width: 975px) {
  .myIdDiv {
    display: none;
  }
}


/* Hide scrollbar for Chrome, Safari and Opera */
.myContainer::-webkit-scrollbar{
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.myContainer {
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}